.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.menu ul li div {
  display: none;
  position: absolute;
  color: yellow;
  background: green;
  font-weight: normal;
}

.menu ul li:last-child:after {
  content: '';
}

.active {
  color: red; 
  font-weight: bold; 
  text-decoration: underline;
}